.outer-wrapper{
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container {
  align-items: center;
  justify-content: center;
}
button,input,.output-words-container{
  box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.75);
}